/* fonts */
/* Roboto =500 900 700 400 */
/* Raleway = 700*/

/* colors */
:root {
    --main-text-color: #757575;
    --heavy-text-color: #212121;
    --action-text-color: #2196F3;
    --logo-text-color: #000000;
    --white-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --community-bg-color: #F5F4FA;
    --background-color: #2F303A;
}

body {
    color: var(--main-text-color);
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

.list {
    list-style: none;
}

/* ---------------header------------------ */
.header {
    background-color: var(--white-text-color);
}

.logo {
    font-size: 26px;
    font-weight: 700;
    font-family: 'raleway';
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--action-text-color);
}

.logo-main {
    color: var(--logo-text-color);
}

/* header navigation */
.header-nav .link {
    text-decoration: none;
    color: var(--heavy-text-color);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

/* активна сторінка */
.header-nav .community-active {
    color: var(--action-text-color);
}

.action:hover,
.action:focus {
    color: var(--action-text-color);
}

/* header links */

.header-link {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

/* ---------------header------------------ */

/* ----------Main page - studio ---------- */

.hero {
    background-color: var(--background-color);
}

.hero .title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    color: var(--white-text-color);
    line-height: 1.36;
}

.hero .button {
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 16px;
    background-color: var(--action-text-color);
    border: none;
    border-radius: 4px;
    font-family: inherit;
}

.hero .button:hover,
.hero .button:focus {
    background-color: var(--community-bg-color);
    color: var(--action-text-color);
    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--heavy-text-color);
}

.features-title {
    font-size: 0px;
}

.list-features .features-title {
    color: var(--heavy-text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.team .name {
    color: var(--heavy-text-color);
    font-size: 16px;
    font-weight: 500;
}

.work-position {
    font-size: 16px;
    letter-spacing: 0.03em;
}


/* ----------Main page - studio ---------- */


/* ------second page community------------ */

.community-button {
    background-color: var(--community-bg-color);
    border: none;
    border-radius: 4px;
    color: var(--heavy-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.03em;
}

.button-title {
    font-size: 0px;
}

.button-action:hover,
.button-action:focus {
    background-color: var(--action-text-color);
    color: var(--white-text-color);
    cursor: pointer;
}

.example-list .photo-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;

    letter-spacing: 0.06em;

    color: var(--heavy-text-color);
}

.example-list .info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--main-text-color);
}

/* ------second page - community------------ */

/* -------------footer-------------------- */

.footer {
    background-color: var(--background-color);
}

.footer-main {
    font-size: 26px;
    font-weight: 700;
    font-family: 'raleway';
    text-decoration: none;
    color: var(--action-text-color);
}

.footer-logo-second {
    color: var(--white-text-color);
}

.footer-address .link {
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
}

.footer-address .physical-address {
    color: var(--white-text-color);
    text-decoration: none;
    font-style: normal;
}

.footer-address .link:hover,
.footer-address .link:focus {
    color: var(--action-text-color);
}